.App {
  font-family: sans-serif;
  text-align: center;
}

.background {
  background-color: #17a2b8;
}

.noTextDec a {
  text-decoration: none;
}

.footer {
  background-color: #e7ecf3;
  padding: 5px;
}

.header {
  padding: 10px;
}

.headerTopPad30 {
  padding-top: 30px;
}

#myEmbeddedScene {
  width: 100%;
  height: 250px;
}
