.App {
  font-family: Arial;
  text-align: center;
}

.justifyText {
  text-align: justify;
  text-justify: inter-word;
}

.p4 {
  padding: 40px;
}

.background {
  background-color: #17a2b8;
}

.noTextDec a {
  text-decoration: none;
}

.footer {
  padding: 5px;
}

.header {
  padding: 10px;
}

.headerTopPad30 {
  padding-top: 30px;
}

.headerTB30{
  padding-top: 30px;
  padding-bottom: 30px;
}

#myEmbeddedScene {
  width: 100%;
  height: 350px;
}

a:hover {
  text-decoration: none;
}